*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root{
    --cp:#100f0f;
}

.center{
    text-align: center;
    margin: 0 auto;
   
}

/* parte 1 */



.cabecalho{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 4;
    background-color: var(--cp);
   
    
}
.logo img{
    height: 30px;
}

.logo{
    width: 40%;
    padding-top: 25px;
    padding-bottom: 20px;
   
}

.menu{
    width: 60%;
    padding-top: 30px;
}

.menu a{
    text-decoration: none;
    margin-left: 20px;
    color: white    ;
    font-size: 14px;

}

.menu a:hover{
    border-bottom: 1px solid white;
}

.menu-mobile{
    display: none;
    width:55%;
    text-align: right;
    color: white;
    padding-top: 20px;
    
}

.menu-mobile img{
    font-size: 30px;
    cursor: pointer;
    width: 40px;
}

/*section 1: banner */

.banner{
    background-image: url(./Images/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    width: 100%;
    position: absolute;
    top: 80px ;
    
}

.fundo-preto{
    background-color: black;
    min-height: 400px;
    position: relative;
    top: 80px ;
    z-index: 1;
    opacity: 0.8;
    color: white;
    
}

.fundo-preto p{
    width: 55%;
    font-size: 20px;
    padding-top: 7%;
    padding-left: 5%;
    text-align: left;
    
}

/*section 2: links */

.linkgeral{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 500px;
    text-align: center;
    justify-items: top;
    background-image: url(./Images/Sem\ Título-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.planilhas{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    min-height: 450px;
    padding-bottom: 15px;

}

.planilhas h2{
    color: var(--cp);
    width: 100%;
    padding-top: 100px;
    padding-bottom: 20px;
    font-weight: bold;
    font-style: italic  ;
    
}

.planilhas a{
    background-color:var(--cp);
    text-decoration: none;
    color: white;
    width: 35%;
    border-radius: 10px;
    height: 50px;
    padding-top: 15px;
    margin: 0 auto;
    font-weight: bold;
    box-shadow: 3px 4px grey ;

}

.planilhas img , .outroslinks img {
    padding-right: 5px;
    width: 26px;
    margin-bottom: -5px;
    
}

.outroslinks{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    min-height: 450px;
  
    padding-bottom: 15px;
    
}
.outroslinks h2{
    color: white;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 20px;
    font-weight: bold;
    font-style: italic ;
}

.outroslinks a{
    background-color: white;
    text-decoration: none;
    color: var(--cp);
    width: 35%;
    border-radius: 10px;
    height: 50px;
    padding-top: 15px;
    margin: 0 auto;
    box-shadow: 3px 4px grey ;
    font-weight: bold;
    

}


/*footer*/

footer{
    background: var(--cp);
    border-top: 1px solid black;
    width: 100%;
    }

.rodape img{
    padding-top: 20px;
    height: 45px;
}

.rodape span{
    display: block;
    padding-top: 5px;
    padding-bottom: 10px;
    color: white;
    font-size: 12px;
    
}



@media screen and (max-width:1450px){
    .menu{
        display: none;
    }

    .menu-mobile{
        display: block;
        text-align: right;
        
    }

    .mobile{
        position: relative;
        top: 0;
        left: 0;
        background-color: white;
        width: 100%;
        padding: 20px 0;
        z-index: 3;
        border: 2px solid black;
        opacity: 0;
        transition: 1s;
        
    }

    .show{
        opacity: 1;
    }

    .hide{
        opacity: 0;
    }
    .mobile a{
        text-align: center;
        display: block;
        text-decoration: none;
        color: black;
        padding-bottom: 10px;
    }

    .mobile a:hover{
        border-bottom: 2px solid black;
        width: 80%;
    }
}


    
    
    
